.all-videos-container {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 7rem);
  position: relative;
}
.all-videos-container .home-videos-mega-container {
  position: relative;
  width: 100%;
  height: 100% !important;
}
.all-videos-container .home-videos-mega-container .showing-results-for-heading {
  margin: 1rem;
}
.all-videos-container .home-videos-mega-container .home-videos-container {
  padding: 1rem 1rem 5rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link {
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  height: 30rem;
  display: block;
  background-color: #0c0c0c;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .thumbnail {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .thumbnail-pic {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0rem;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .thumbnail #videoIframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .video-box-mini-info {
  position: relative;
  padding: 1rem;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .video-box-mini-info .video-title {
  overflow: hidden;
  width: 100%;
  height: 70% !important;
}
.all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .video-box-mini-info .mini-info-para {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.all-videos-container .search-results-mega-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute !important;
}
.all-videos-container .search-results-mega-container .search-results-container {
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link {
  width: 100%;
  height: -moz-max-content !important;
  height: max-content !important;
  display: block !important;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link .result-video-box {
  width: 100%;
  height: 40dvh;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 3rem;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-thumbnail {
  width: 35%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-thumbnail .search-result-video-thumbnail-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-info {
  padding: 1rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
}
.all-videos-container .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-info .mini-description {
  font-size: 130%;
  font-weight: 400;
}
.all-videos-container .history-videos-mega-container {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  position: absolute !important;
}
.all-videos-container .history-videos-mega-container .history-options {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.all-videos-container .history-videos-mega-container .history-options .clear-history {
  background-color: #0c0c0c;
  border: 1px solid #00ffff;
  padding: 0.2rem 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.all-videos-container .history-videos-mega-container .history-videos-container {
  height: clamp(-moz-max-content, -moz-max-content, 100%) !important;
  height: clamp(max-content, max-content, 100%) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.all-videos-container .history-videos-mega-container .history-videos-container .history-video-link {
  width: 22%;
}
.all-videos-container .history-videos-mega-container .history-videos-container .history-video-link .history-video-box {
  width: 100% !important;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  background-color: #0c0c0c;
  border-radius: 0.5rem;
}
.all-videos-container .history-videos-mega-container .history-videos-container .history-video-link .history-video-box .history-video-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .all-videos-container {
    height: calc(100vh - 6rem);
  }
  .all-videos-container .home-videos-mega-container {
    position: relative !important;
    width: 100%;
    height: 100%;
    inset: unset;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container {
    padding: 1rem 1rem 5rem 1rem;
    row-gap: 5rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link {
    width: 90%;
    height: 35dvh;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box {
    position: relative;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .thumbnail {
    height: 75%;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .thumbnail #videoIframe {
    display: none !important;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .video-box-mini-info {
    height: 25%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link .video-box .video-box-mini-info .video-title {
    height: 2.5rem !important;
  }
  .search-results-mega-container {
    width: 100%;
    height: 100%;
    inset: unset !important;
    position: relative !important;
  }
  .search-results-mega-container .search-results-container .search-result-video-link {
    width: 100%;
    height: -moz-max-content !important;
    height: max-content !important;
    display: block !important;
  }
  .search-results-mega-container .search-results-container .search-result-video-link .result-video-box {
    height: 35dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: unset !important;
    gap: 2rem;
  }
  .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-thumbnail {
    width: 100% !important;
    height: 75% !important;
  }
  .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-thumbnail .search-result-video-thumbnail-pic {
    width: 100%;
    height: 100%;
  }
  .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-info {
    width: 100% !important;
    height: 25% !important;
    gap: 0rem;
  }
  .search-results-mega-container .search-results-container .search-result-video-link .result-video-box .search-result-video-info .mini-description {
    display: none;
  }
  .history-videos-mega-container {
    height: 100%;
    position: relative !important;
    inset: unset !important;
  }
  .history-videos-mega-container .history-options {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .history-videos-mega-container .history-options .clear-history {
    background-color: #0c0c0c;
    border: 1px solid #00ffff;
    padding: 0.2rem 1rem;
    text-transform: capitalize;
    cursor: pointer;
  }
  .history-videos-mega-container .history-videos-container {
    margin-top: 1rem;
    height: clamp(-moz-max-content, -moz-max-content, 100%) !important;
    height: clamp(max-content, max-content, 100%) !important;
    padding: 0 0 2rem 0;
    justify-content: center;
  }
  .history-videos-mega-container .history-videos-container .history-video-link {
    width: 45% !important;
  }
}
@media screen and (max-width: 425px) {
  .all-videos-container .home-videos-mega-container .home-videos-container {
    row-gap: 2rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .all-videos-container .home-videos-mega-container .home-videos-container .video-link {
    width: 97%;
  }
  .history-videos-mega-container .history-videos-container .history-video-link {
    width: 85% !important;
  }
}/*# sourceMappingURL=videosContainer.css.map */