// Color variables
$primary-color: #fff;
$secondary-color: #00ffff;
$color-dark: #000;
// $quaternary-color: #f39c12;

$background-color: #191919;
$alternate-background-color: #00ffff;
$tertiary-background-color: #0c0c0c;

// Color variables
$primary-color: #fff;
$secondary-color: #00ffff;
$color-dark: #000;
// $quaternary-color: #f39c12;

$background-color: #191919;
$alternate-background-color: #00ffff;
$tertiary-background-color: #0c0c0c;
